body[data-view="grid"] #app-content{
    margin:10px;
    
    & > section {
    	background-color: @white;
        border: 1px solid @grayLighter;
		border-radius:4px;
		height:200px;
		width:300px;
		margin:5px;
		display:inline-block;
		overflow:hidden;
		float:left;
		
		& > iframe{
			float:left;
			height:100%;
			width:100%;
			border:none;
		
			& + section{
				position:relative;
				z-index:10;
				background-color:rgba(255, 255, 255, 0.8);
				opacity:0;
				height:100%;
				width:100%;
				
				.transition(opacity 0.4s);
				
				&:hover{
					opacity:1;
				}
				
				& > h1{
					position:absolute;
					width:100%;
					text-align:center;
					margin-top:80px;
				}
			}
		}
	}
}
