section[data-slide]{
    // ton code less ici
	background-color: white;
	
	h1 {
		font-family: Trebuchet MS;
		background-color: blue;
		color: white;
		font-size: 50px;
		text-shadow: 0px -1px 0px #000;
		border-radius: 6px;
		width: auto;
		margin-right : 20px ;
		margin-left: 20px ;
		margin-bottom : 5px ;
		padding-left: 30px;
		padding-right: 30px;
	
    }
	
	h2{
		font-family: Trebuchet MS;
		background-color: red;
		color: white;
		font-style: italic;
		font-size: 40px;
		border-radius: 6px;
		margin-right : 20px ;
		margin-left: 20px ;
		padding-left: 30px;
		padding-right: 30px;
	}

	
	.titre h1 {
			margin-right: 20px;
			margin-left: 0px;
			margin-top : 75px;
			text-align: left;
			border-radius : 0px 06px 6px 0px;
	}
	.titre h2 {
			margin-right: 60px;
			margin-left: 0px;
			margin-top : 10px;
			text-align: left;
			font-size: 40px;
			border-radius : 0px 06px 6px 0px;
	}
	
	.titre footer {
		display:none;
	}
	
    img {
	
    }

    ul{
        li{
        }
    }
	
	video {
      position: absolute;
      top: 210px;
      width: 260px;
      left: 445px;
      box-shadow: 0 0 10px black;
  }
}