body{
	& > #splash{
		display:none;
	}
	
	&[data-state="splash"]{
		& > #app-header,
		& > #app-grid,
		& > #app-overview{
			display:none;
		}
	
		& > #splash{
			display:table;
			height:100%;
			width:100%;
		
			& > section{
				position:relative;
				display:table-cell;
				vertical-align:middle;
				text-align:center;
				margin:auto;
		
				width:100%;
				height:100%;
				color:@grayDark;
		
				img{
					display:block;
					cursor:pointer;
					margin:auto;
				}
		
				h1{
					font-family: @logoFont;
					font-size: 4em;
					margin:0;
				}
			}
		}
	}
}
