@black:#000000;
@blue:#004681;


@font-face {
font-family: 'CodeProDemoRegular'; 
src: url('Code_Pro_Demo-webfont.eot');
src: url('Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
url('Code_Pro_Demo-webfont.woff') format('woff'),
url('Code_Pro_Demo-webfont.ttf') format('truetype'),
url('Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
font-weight: normal;
font-style: normal;
}



#toolbar1
{
margin-left:10%;
}


#img_Titre 
{
	width: 100%;
	height: 40px;
	background-color:@black;
	position: fixed;
	top: 0px;
	left: 0px;
}

#toolbar
{
	padding : 0 0 0 0px;
	width: 100%;
	height: 36px;
	background-color:@blue;
	position: fixed;
	top: 40px;
	left: 0px;
}


section div 
{
	margin-top:4px;
}

header h1
{
color: white;
font-size: 20px;
font-family: "CodeProDemoRegular";
}

#img_Titre1{
vertical-align: top;
float:left;
display:inline-block;
}

header h2
{
color: white;
font-size: 16px;
font-family:Trebuchet MS;
}

#img_Titre2{
vertical-align: bottom;
float: right;
display:inline-block;
}

header h3
{
color: white;
font-size: 18px;
font-family:Trebuchet MS;
margin-left: 5%;
}

#img_Titre3{
vertical-align: 10px;
display:inline-block;
padding-left:40px;
}

header h4
{
color: white;
font-size: 18px;
font-family:Trebuchet MS;
margin-left: 5%;
}

#img_Titre4{
vertical-align: top;
display:inline-block;
padding-left:40px;
}



#nav1, #nav2, #nav3, #nav4, #nav5
{
display:inline-block;
padding-right:20px;
}