article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
h1 {
  font-weight: 300;
  font-size: 2em;
  color: #222222;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
a {
  color: inherit;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(../font/NothingYouCouldDo.ttf) format('truetype'), url(../font/NothingYouCouldDo.woff) format('woff'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v3/jpk1K3jbJoyoK0XKaSyQAZsYoLsUhJo8DEpooYVMXYU.woff) format('woff');
}
body[data-state="splash"] {
  background-image: url('../img/whitey.png');
  display: table;
  height: 100%;
  width: 100%;
}
body[data-state="splash"]  > header,
body[data-state="splash"]  > footer {
  display: none;
}
body[data-state="splash"]  > #app-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: #333333;
}
body[data-state="splash"]  > #app-content  > * {
  text-align: center;
  margin: auto;
}
body[data-state="splash"]  > #app-content img {
  display: block;
  cursor: pointer;
}
body[data-state="splash"]  > #app-content h1 {
  font-family: 'Nothing You Could Do', sans;
  font-size: 4em;
  margin: 0;
}
[class*="icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}
[class*="icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-reload {
  background-position: 0      0;
}
.icon-valid {
  background-position: -20px 0;
}
.icon-invalid {
  background-position: -40px 0;
}
.icon-warning {
  background-position: -60px 0;
}
.icon-plus {
  background-position: -80px 0;
}
.icon-header {
  background-position: 0 -20px;
}
.icon-section {
  background-position: -20px -20px;
}
.icon-footer {
  background-position: -40px -20px;
}
.icon-save {
  background-position: 0 -40px;
}
.icon-new {
  background-position: -20px -40px;
}
.icon-open {
  background-position: -40px -40px;
}
.icon-buddy {
  background-position: -60px -40px;
}
.icon-align-left {
  background-position: 0 -60px;
}
.icon-align-center {
  background-position: -20px -60px;
}
.icon-align-right {
  background-position: -40px -60px;
}
.icon-align-justify {
  background-position: -60px -60px;
}
.icon-media {
  background-position: 0 -80px;
}
.icon-video {
  background-position: -20px -80px;
}
.icon-photo {
  background-position: -40px -80px;
}
.icon-title {
  background-position: 0 -100px;
}
.icon-title-h1 {
  background-position: -20px -100px;
}
.icon-title-h2 {
  background-position: -40px -100px;
}
.icon-title-h3 {
  background-position: -60px -100px;
}
.icon-title-h4 {
  background-position: -80px -100px;
}
.icon-label {
  background-position: 0 -120px;
}
.icon-bold {
  background-position: -20px -120px;
}
.icon-italic {
  background-position: -40px -120px;
}
.icon-text {
  background-position: 0 -140px;
}
.icon-star {
  background-position: -20px -140px;
}
.icon-comment {
  background-position: -40px -140px;
}
.icon-list {
  background-position: 0 -160px;
}
.icon-list-numbered {
  background-position: -20px -160px;
}
.icon-list-unumbered {
  background-position: -40px -160px;
}
[class*="icon-persona-"] {
  height: 25px;
  line-height: 25px;
}
.icon-persona-before {
  background-position: -60px -120px;
  width: 34px;
}
.icon-persona-after {
  background-position: -60px -150px;
  width: 14px;
}
