extends layout

block append variables
	- var title = "Create a new presentation"
	- var headerType = "create"
	- var footerType = "create"

block append head
	script(src="/static/js/createView.js")


block body
	section(id="body", data-view="create")
		include header
		article
			each template in templates
				section(class="templateElmt", data-templateUrl="#{template.name}")
					iframe(src="#{template.previewUrl}")
					section
						div.left
						div.top
						div.right
						div.bottom
		include footer