extends layout

block append variables
	- var title = title
	- var headerType = "edit"
	- var footerType = "edit"


block body
	section(id="body", data-view="edit")
		include header
		article
			iframe
		section#outline
			aside
				- var index = 0;
				each slide in slides
					- index = index + 1
					case index
						when 2
							// TODO : change back to 1
							section.wrapper(aria-selected='true')
								section
									h1 #{index}
									iframe
						default
							section.wrapper
								section
									h1 #{index}
									iframe
		include footer