block variables

footer#appFooter
	case footerType
		when "home"
			label.iconSearch
				input(	type="text", 
								name="search"
								placeholder="Search a presentation…")
			button.iconNew

		when "edit"
			button.iconMenu
			button.iconInsert
			button.iconNew

		when default
			p Unkown footer : #{footerType}