block variables
footer
	each elmt in footer
		case elmt
			when "search"
				input(	type="text", 
						name="search", 
						class=["iconSearch", "alignLeft"])
			when "new"
				button(class=["iconNew", "alignRight"])
			when default
				p failure #{elmt}