block variables

case footerType
	when "home"
		footer.home
			label.iconSearch
				input(	type="text", 
						name="search"
						placeholder="Search a presentation…")
			button.iconNew

	when default
		p Unkown footer : #{footerType}