block variables

footer#appFooter
	case footerType
		when "home"
			label.iconSearch
				input(	type="text", 
								name="search"
								placeholder="Search a presentation…")
			button.iconNew

		when "edit"
			button.iconMenu(onclick="alert(this.nextSibling.firstChild.focus());this.nextSibling.firstChild.focus();alert('end')")
			div.dropdown(onfocus="alert('focus')")
				button(onfocus="alert('received');this.parentElement.setAttribute('aria-selected', 'true');",onblur="this.parentElement.setAttribute('aria-selected', 'false');") style
				button class
				button notes
				button delete
			button.iconInsert
			button.iconNew

		when default
			p Unkown footer : #{footerType}