block variables

footer#appFooter
	case footerType
		when "home"
			label.iconSearch
				input(	type="text", 
								name="search"
								placeholder="Search a presentation…")
			button.iconNew(onclick="window.location.replace('/create/presentation')")

		when "edit"
			button.iconMenu
			div.dropdown
				button style
				button class
				button notes
				button delete
			button.iconInsert
			button.iconNew

		when "create"
			button.iconDone

		when default
			p Unkown footer : #{footerType}