block variables

footer
	case footerType
		when "home"
			label.iconSearch
				input(	type="text", 
						name="search"
						placeholder="Search a presentation…")
			button.iconNew

		when default
			p Unkown footer : #{footerType}