block variables

header#appHeader
	case headerType
		when "home"
			h1 #{title}
			button(class=['menu', 'iconBuddy'])
			div.dropdown
				mixin logout

		when "edit"
			h1(contenteditable='true') #{title}
			button(class=['menu', 'iconBuddy'])
			div.dropdown
				mixin logout
				button Share

		when default
			p Unkown header : #{headerType}


mixin logout
	button(onclick="navigator.id.logout();") Logout