block variables

header
	case headerType
		when "home"
			h1 #{title}
			button(class=['menu', 'iconBuddy'])

		when "edit"
			h1(contenteditable='true') #{title}
			button(class=['menu', 'iconBuddy'])

		when default
			p Unkown header : #{headerType}