extends layout

block title
	title Login to SlideZ

block body
	section(id="body", data-view="splash")
		section.image
		section.login
			h1 SlideZ
			img(onclick="navigator.id.request();",
				alt="Login with persona",
				src="/static/img/persona-login.png")

block append scripts