
.titre1, .titre2, .titre3 {
	background-color: #1C1C1C;
}


.titre1 h1, .titre2 h1, .titre3 h1{
	background-color:  #AE14BB;
	color: #D6FF00;
	font-size: 50px;
    text-shadow: 0px -1px 0px #000;
	border-radius: 6px;
	width: auto;
	margin-right : 20px ;
	margin-left: 20px ;
	margin-bottom : 5px ;
	padding-left: 30px;
	padding-right: 30px;
}
.titre1 h2, .titre2 h2, .titre3 h2{
	background-color: #FF007A;
	color: #1F1F30;
	font-style: italic;
	border-radius: 6px;
	margin-right : 20px ;
	margin-left: 20px ;
	padding-left: 30px;
	padding-right: 30px;
}

h3{

}

header{

}

asside{

}

footer{

}
