/* Common styles */
/* Common styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol {
  color: black;
  -webkit-margin-before: -1px;
  -webkit-padding-after: 1px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(/static/font/NothingYouCouldDo.ttf) format('truetype'), url(/static/font/NothingYouCouldDo.woff) format('woff'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v3/jpk1K3jbJoyoK0XKaSyQAZsYoLsUhJo8DEpooYVMXYU.woff) format('woff');
}
.iconBuddy {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3MzQwRkNCMEI4NTcxMUUxQUFBRjhFMDc1QjM3MzZFRiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3MzQwRkNCMUI4NTcxMUUxQUFBRjhFMDc1QjM3MzZFRiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjczNDBGQ0FFQjg1NzExRTFBQUFGOEUwNzVCMzczNkVGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjczNDBGQ0FGQjg1NzExRTFBQUFGOEUwNzVCMzczNkVGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+CPPk2gAAAZxJREFUeNpi/P//P8NAABYQ8fv3b7paysrKCrGYDMAFxBpQ9g0g/kaqAUwkqhcE4ulA/BqIz0Lxa6iYICkGMYLimMigFgXiQ0g+RQcgn9tBHUIwqEnx8RQ8ljJA5aZR28cyQPwIpJ6AOlAWkQfix9TysTURljJA1VhRM3FxkhAlnNS0+DIJFl+mpsXngPgqEequQtVSzWJQokkD4l941PyCqvlP7QLkGBB7QFM3OngElTtGiwIEBjiA2BeIdaD8K0C8GYh/kFJWk2MxVSoJYoKaBRp3oNQah0ddLNT3abBaj5KglgPi9UBsBOX/BeIkIF6ExdL5QMyMlAsCcaQHgkENKiZPAbEkmji65eiWwsBzIDYD4iekWrwPiB1xhATMchCYh8VSGNgPxE6kWGwCxKcJRNNfKM1MQJ0pEJ8hNnGZEpHomImwFKdZuCxmp2LuYSPF4s9UtPgLKRY/paLFz0ix+BoVLb5BisWgjP+CCpaCzLhPau20mwoW7yanWlxBBYtXklNWgxpuAhRa/AFbw4BQFwak4T2tqkaAAAMAq2eBwXV5SC8AAAAASUVORK5CYII=);
  background-position: center;
  background-repeat: no-repeat;
}
.iconSearch {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4NDA1RDQxQUE3MjA2ODExODhDNkE3NjAxQjM4MUZDNSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDOUMyRkI5RkREODYxMUUxQjVDNEE4QjczREVCRENENCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDOUMyRkI5RUREODYxMUUxQjVDNEE4QjczREVCRENENCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk4MjBGQzc5QjkyMDY4MTE4OEM2QjcwQTAwNDE1NjQ1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjg0MDVENDFBQTcyMDY4MTE4OEM2QTc2MDFCMzgxRkM1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+ggYt3AAAAc5JREFUeNrsl80rRFEYxucOmgyShWEiy2kkURYWysJqskAUmj/CztbO2kJ2IhsLopSUnY9mYzGREmWsfOQjGcwCw/WceqeOcd177nuPpO5bv07d3vPe55x7znPONUzTDPxlGL6A/yagFrSBKMiBc5AGebYCIUCBBNgGefN73IEZEFWs9QWnhBqwZvHCA3ACXqTnTyCpU0A12Kfi72AedABDyqmilx5R3gcY1yWgMPJn+gR2uSGwIIlIeBUwIBXrUyxWAtapXwaUeRGwS4UWXX7TepoxEaNcAREauYhOxsqepb5LKvlBi53ZIvwBZMEeY2dvSXUcw0pAhNpLYRMMARfU1nEFFKKc6W1hN8lWAjLUNoJKhoAYtadcAcLbb0ApGGIIGKF208tZME0r+QyEXewA2T+avfhAA3m7iGUyGadicfBAfVZ0WHFS8oMN0PRDnjgbBsGtdDAJM+pWEeB0HxgDU7RWXsEqfdsrEKK9PgzaLfqK+0Iv2PF6H+gBh6Z9vJFtZ4ue55xmQnVxBUE/mAPH4B5cgxSYADHK63IrIsC5xTjgSsRvCLAT0apyGOmIFC3AxyKLruBeSnXMxCRnG+qIOI0+7f8Z+QKs4lOAAQBXnTtS3inr3QAAAABJRU5ErkJggg==);
  background-position: center;
  background-repeat: no-repeat;
}
.iconNew {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4RTlFMTExOTIwMjA2ODExODIyQUJFQTc4MUU4NEEyOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENjM1MzgyMUJGNzAxMUUxQkNDOEUwRkExQ0U5N0Q0QiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENjM1MzgyMEJGNzAxMUUxQkNDOEUwRkExQ0U5N0Q0QiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Mzk0RjYxOUMzMTIwNjgxMTgyMkFBRjgxQ0IyNTAxM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OEU5RTExMTkyMDIwNjgxMTgyMkFCRUE3ODFFODRBMjkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz45ZU6fAAAAiklEQVR42mL8//8/w0AAJoYBAqMW0w2wkKmPH4hVoOw7QPyRVAMYyUzVD4FYDsq+DMR6o3E8avGoxbiykxAQ78KjTxeI2aDs70B8DY9aZ2z5HJfFIIMvUclzGkB8c9AXmU+B+CyVgvrFaJE5avGoxQNSZBICzEBsAGVfAOK/9LJ4NI5HLSYIAAIMAKfZJ7+0GO5HAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
}
h1,
h2 {
  font-weight: 300;
  font-family: sans-serif;
}
h1 {
  font-size: 23px;
  line-height: 24px;
}
h2 {
  font-size: 18px;
  line-height: 22px;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
a {
  color: inherit;
}
button {
  background: none;
  border: none;
  height: 39px;
  min-width: 40px;
}
button:hover {
  -webkit-box-shadow: inset 0 0 2px #858585;
  -moz-box-shadow: inset 0 0 2px #858585;
  box-shadow: inset 0 0 2px #858585;
}
button:active:hover {
  -webkit-box-shadow: inset 0 0 2px #f4f4f4;
  -moz-box-shadow: inset 0 0 2px #f4f4f4;
  box-shadow: inset 0 0 2px #f4f4f4;
}
button * {
  display: inline;
}
article {
  margin-top: 39px;
}
header#appHeader {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 39px;
  width: 100%;
  overflow: hidden;
  background-color: #c75a27;
  background-image: -moz-linear-gradient(top, #cd6723, #be462d);
  background-image: -ms-linear-gradient(top, #cd6723, #be462d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd6723), to(#be462d));
  background-image: -webkit-linear-gradient(top, #cd6723, #be462d);
  background-image: -o-linear-gradient(top, #cd6723, #be462d);
  background-image: linear-gradient(top, #cd6723, #be462d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd6723', endColorstr='#be462d', GradientType=0);
  -webkit-box-shadow: 0 0 1px #333333;
  -moz-box-shadow: 0 0 1px #333333;
  box-shadow: 0 0 1px #333333;
}
header#appHeader h1 {
  color: #ffffff;
  max-height: 100%;
  height: 100%;
  line-height: 44px;
}
.footerBackground {
  background-color: #333333;
  -webkit-box-shadow: 0 0 1px #333333;
  -moz-box-shadow: 0 0 1px #333333;
  box-shadow: 0 0 1px #333333;
}
article {
  margin-bottom: 39px;
}
footer#appFooter {
  z-index: 10;
  position: fixed;
  bottom: 0;
  height: 39px;
  width: 100%;
  padding: 0;
  background-color: #333333;
  -webkit-box-shadow: 0 0 1px #333333;
  -moz-box-shadow: 0 0 1px #333333;
  box-shadow: 0 0 1px #333333;
}
/* Common style for everyone */
body section#body[data-view="splash"] {
  display: table;
  height: 100%;
}
body section#body[data-view="splash"] h1 {
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 4em;
  margin: 0.5em;
  color: #008caa;
}
body section#body[data-view="splash"] .login {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  height: 100%;
}
/* Large sreens : 2 columns page */
@media all and (min-width: 901px) {
  body section#body[data-view="splash"] {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  body section#body[data-view="splash"] .login {
    width: 50%;
  }
  body section#body[data-view="splash"] .image {
    display: table-cell;
    width: 50%;
    height: 100%;
  }
}
/* Small screens : 1 column page */
@media all and (max-width: 900px) {
  body section#body[data-view="splash"] {
    width: 100%;
  }
  body section#body[data-view="splash"] .login {
    width: 100%;
  }
  body section#body[data-view="splash"] .image {
    display: none;
  }
}
/******************************** Common Style ********************************/
body section#body[data-view="home"] header#appHeader  > * {
  position: absolute;
}
body section#body[data-view="home"] header#appHeader h1 {
  left: 10px;
  right: 39px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body section#body[data-view="home"] header#appHeader button {
  right: 0;
  border-left: solid 1px #be462d;
}
body section#body[data-view="home"] footer#appFooter  > * {
  position: absolute;
}
body section#body[data-view="home"] footer#appFooter button.iconNew {
  right: 0;
}
body section#body[data-view="home"] footer#appFooter label {
  padding-left: 39px;
  left: 5px;
  width: auto;
  right: 64px;
  background-position: left center;
  height: 100%;
}
body section#body[data-view="home"] footer#appFooter label input {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  height: 35px;
  margin: 2px;
  border-radius: 5px;
  padding-left: 1px;
  padding-right: 1px;
  width: 0;
  background-color: #333333;
  -webkit-box-shadow: 0 0 1px #333333;
  -moz-box-shadow: 0 0 1px #333333;
  box-shadow: 0 0 1px #333333;
}
body section#body[data-view="home"] footer#appFooter label input:focus {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
}
body section#body[data-view="home"] article {
  overflow: auto;
  min-width: 100%;
}
body section#body[data-view="home"] .presentationElmt {
  position: relative;
  border-bottom: solid 1px #f4f4f4;
  background-color: #ffffff;
}
body section#body[data-view="home"] .presentationElmt a {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body section#body[data-view="home"] .presentationElmt a h1 {
  display: none;
}
/** 
 * Very small screens :
 * - preview size is proportional
 * - No other information is displayed
 */
@media all and (max-width: 469px) {
  body section#body[data-view="home"] .presentationElmt {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  body section#body[data-view="home"] .presentationElmt:after {
    content: '';
    display: block;
    margin-top: 66%;
  }
  body section#body[data-view="home"] .presentationElmt * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo {
    display: none;
  }
}
/**
 * Screens a little bigger such as a phone in landscape o the galaxy tab
 * - Preview size is fixed
 * - side display of meta information
 */
@media all and (min-width: 470px) and (max-width: 599px) {
  body section#body[data-view="home"] .presentationElmt {
    display: table;
    height: 200px;
  }
  body section#body[data-view="home"] .presentationElmt  > * {
    vertical-align: top;
  }
  body section#body[data-view="home"] .presentationElmt iframe {
    height: 200px;
    width: 300px;
  }
  body section#body[data-view="home"] .presentationElmt iframe {
    display: table-cell;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo {
    display: table-cell;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo  > p {
    position: absolute;
    bottom: 10px;
    color: #a6a6a6;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo h2 {
    margin-top: 10px;
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
/**
 * Screens larger enough to fit 2 presentations on a line.
 * - 2 column layout
 * - No additional informations displayed
 */
@media all and (min-width: 600px) and (max-width: 939px) {
  body section#body[data-view="home"] .presentationElmt {
    display: inline-block;
    height: 200px;
    margin: 5px;
    border: solid 1px #f4f4f4;
  }
  body section#body[data-view="home"] .presentationElmt  > * {
    vertical-align: top;
  }
  body section#body[data-view="home"] .presentationElmt iframe {
    height: 200px;
    width: 300px;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo {
    display: none;
  }
}
/**
 * From now on the screen is big
 * - Display everything in tiles.
 */
@media all and (min-width: 940px) {
  body section#body[data-view="home"] .presentationElmt {
    display: inline-block;
    height: 200px;
    width: 450px;
    margin: 5px;
    border: solid 1px #f4f4f4;
  }
  body section#body[data-view="home"] .presentationElmt  > * {
    vertical-align: top;
  }
  body section#body[data-view="home"] .presentationElmt iframe {
    height: 200px;
    width: 300px;
  }
  body section#body[data-view="home"] .presentationElmt iframe {
    display: inline-block;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo {
    display: inline-block;
    width: 150px;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo  > p {
    position: absolute;
    bottom: 10px;
    color: #a6a6a6;
  }
  body section#body[data-view="home"] .presentationElmt .presentationInfo h2 {
    margin-top: 10px;
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
/******************************** Common Style ********************************/
body section#body[data-view="edit"] header#appHeader  > * {
  position: absolute;
}
body section#body[data-view="edit"] header#appHeader h1 {
  left: 10px;
  right: 39px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body section#body[data-view="edit"] header#appHeader button {
  right: 0;
  border-left: solid 1px #be462d;
}
body section#body[data-view="edit"] footer#appFooter  > * {
  position: absolute;
}
body section#body[data-view="edit"] .wrapper {
  position: fixed;
  top: 39px;
  bottom: 39px;
  left: 0;
  right: 0;
  overflow: hidden;
}
