// All /////////////////////////////////////////////////////////////////////////
body section#body[data-view="home"]{
	// Styling of the header elements
	header{
		& > * {
			position:absolute;
		}

		h1{
			left:10px;
			right:@buttonHeight;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button {
			right:0;
			border-left:solid 1px @orangeDark;
		}
	}

	// Styling of the footer elements.

	article{
		overflow:auto;
		min-width:100%;
	}

	.presentationElmt{
		position:relative;
		border-bottom:solid 1px @grayLighter;
		background-color:@white;

		a{
			float:left;
			position:absolute;
			top:0;
			left:0;

			width:100%;
			height:100%;

			h1{
				display:none;
			}
		}
	}
}

/*/ phones (portrait) ////////////////////////////////////////////////
@media 	(max-height: @phone-max-width) and (orientation: portrait){
	body section#body[data-view="home"]{
		.presentationElmt{
			// handle aspect ratio
		    display: inline-block;
		    position: relative;
		    width: 100%;    
			&:after {
			    content: '';
			    display: block;
			    margin-top: 66%;
			}
			* {
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}

			.presentationInfo{
				display:none;
			}
		}
	}
}

// desktop /////////////////////////////////////////////////////////////////////
@media 	(min-width: @desktop-min-width){
	body section#body[data-view="home"]{
	}
}*/