// All /////////////////////////////////////////////////////////////////////////
body section#body[data-view="home"]{
	// Styling of the header elements
	header{
		& > * {
			position:absolute;
		}

		h1{
			left:10px;
			right:@buttonHeight;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button {
			right:0;
			border-left:solid 1px @orangeDark;
		}
	}


	// Styling of the footer elements.
	footer{
		& > * {
			position:absolute;
		}

		button.iconNew {
			right:0;
		}

		label{
			padding-left:@buttonHeight;
			left:5px;
			width:auto;
			right:@buttonHeight + 5px + 20px;
			background-position: left center;
			height:100%;

			input{
				.transition(width 0.5s);

				height:@buttonHeight - 4px;
				margin:2px;
				border-radius:5px;

				padding-left:1px;
				padding-right:1px;
				width:0;
				.footerBackground();

				&:focus{
					width:100%;
					padding-left:10px;
					padding-right:10px;
					background-color:@white;
				}
			}
		}
	}

	// Styling of the content
	article{
		overflow:auto;
		min-width:100%;
	}

	.presentationElmt{
		position:relative;
		border-bottom:solid 1px @grayLighter;
		background-color:@white;

		a{
			float:left;
			position:absolute;
			top:0;
			left:0;

			width:100%;
			height:100%;

			h1{
				display:none;
			}
		}
	}
}