html { background-color: black; }
  a { color: #FF0066; } a:hover {text-decoration: underline;}
  footer { position: absolute; bottom: 50px; right: 50px; }
  strong {color: #FF0066}
  body {
      font-family: 'Oswald', arial, serif;
      background-color: white;
      color: white;
      font-size: 2em;
      background: #1C1C1C;
  }


  /* Transition effect */
  section {
      -moz-transition: left 400ms linear 0s;
      -webkit-transition: left 400ms linear 0s;
      -ms-transition: left 400ms linear 0s;
      transition: left 400ms linear 0s;
      background: #1C1C1C;
  }
  section { left: -150%; }
  section[aria-selected] { left: 0; }
  section[aria-selected] ~ section { left: +150% }

  .chapter { background-color: black;}
  .chapter h1 {line-height: 600px; vertical-align: middle; margin: 0; text-align: center; display: block}

  h1 {
      margin: 50px 100px 0 100px;
      font-size: 50px;
      text-shadow: 0px -1px 0px #000;
      text-align: left;
  }
  h2 {
      color: #FAE50B;
      margin: 70px 0 0 0;
      font-size: 40px;
      text-align: center;
  }
  ul {
      margin-top: 70px;
      font-size: 35px;
      text-align: right;
      border-right: 4px solid white;
      padding-right: 40px;
      min-width: 310px;
      margin-left: 50px;
      display: inline-block;
  }
  q, p {
      margin: 50px auto 0 auto;
      width: 500px;
  }
  q:after {content: ""}
  q:before {content: ""}
  q {
      display: block;
      margin-top: 140px;
  }
  video {
      position: absolute;
      top: 210px;
      width: 260px;
      left: 445px;
      box-shadow: 0 0 10px black;
  }
  #arrow {
      position: absolute;
      top: 165px;
      left: 460px;
      font-size: 100px;
      color: white;

  }
  li {list-style-type: none}