
  html, .view body { 
    background-color: black; 
    counter-reset: slideidx; 
  }

  body, 
  .view section[role='slide']  { 
    background-color: white; 
    border-radius: 12px;
  }

  /* A section is a slide. It's size is 800x600, and this will never change */
  section[role='slide'], 
  .view section[role='slide'] head > title {
      /* The font from Google */
      font-family: 'Oswald', arial, serif;
      font-size: 30px;
  }

  .view section[role='slide']:after {
    counter-increment: slideidx;
    content: counter(slideidx, decimal-leading-zero);
    position: absolute; bottom: -80px; right: 100px;
    color: white;
  }

  .view section[role='slide'] head > title {
    color: white;
    text-align: center;
    margin: 1em 0 1em 0;
  }

  section[role='slide'] h1,
  section[role='slide'] h2 {
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
  }
  section[role='slide'] h3 {
    margin: 100px 0 50px 100px;
  }

  section[role='slide'] ul {
      margin: 50px 200px;
  }

  section[role='slide'] p {
    margin: 75px;
    font-size: 50px;
  }

  section[role='slide'] blockquote {
    height: 100%;
    background-color: black;
    color: white;
    font-size: 60px;
    padding: 50px;
  }
  section[role='slide'] blockquote:before {
    content: open-quote;
  }
  section[role='slide'] blockquote:after {
    content: close-quote;
  }

  /* Figures are displayed full-page, with the caption
     on top of the image/video */
  section[role='slide'] figure {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  section[role='slide'] figure > * {
    position: absolute;
  }
  section[role='slide'] figure > img, 
  section[role='slide'] figure > video {
    width: 100%; height: 100%;
  }
  section[role='slide'] figcaption {
    margin: 70px;
    font-size: 50px;
  }

  section[role='slide'] footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
  }
