/******************************** Common Style ********************************/

body section#body[data-view="edit"]{
	// Styling of the header elements
	header#appHeader{
		& > * {
			position:absolute;
		}

		h1{
			left:10px;
			right:@buttonHeight;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button.menu {
			right:0;
			border-left:solid 1px @orangeDark;
		}
	}


	// Styling of the footer elements.
	footer#appFooter{
		& > * {
			position:absolute;
		}

		button.iconNew {
			right:0;
		}

		button.iconMenu{
			left:0;
		}

		button.iconInsert{
			left:50%;
			margin-left:-@buttonHeight /2;

			& + .dropdown{
				left:50%;
				margin-left:-@buttonHeight /2;
			}
		}
	}

	article{
    position:fixed;
    top:0;
    left:0;

		& > iframe{
    	width:100%;
    	height:100%;   
    }
	}


	aside{
    position:fixed;
    overflow:auto;
		
		background-color: @grayDark;

		& > section.wrapper{
	    height:100px;

	    h1{
	    	float:left;
	    	position:absolute;
	    	width:100%;
	    	text-align:center;
	    	margin-top:40px;
	    	display:none;
	    }

			&[aria-selected]{
				position:relative;
		    background-color:white;

		    h1{
		    	display:inline;
		    }

		    iframe{
		    	display:none;
		    }

		    &:before,
		    &:after{
		    	content:'';
		    	width:@slideSeparator;
		    	height:@slideSeparator;
		    	display:block;
		    	position:absolute;
		    	background-color:@backgroundColor;
		    	z-index:1;
		    }

		    section{
		    	height:100%;
		    	width:100%;
		    	position:relative;

			    &:before,
			    &:after{
			    	content:'';
			    	width:@slideSeparator;
			    	height:@slideSeparator;
			    	display:block;
			    	position:absolute;
			    	background-color:@grayDark;
			    	z-index:2;
			    }
		    }
			}

	    & iframe{
		    width:150px;
		    height:100px;
		    margin:auto;
		    display:block;
		    background-color:@backgroundColor;
			}

		}
	}

}


/******************************* Horizontal only ******************************/
@media (orientation: landscape) {
	body section#body[data-view="edit"]{

		article{
	    bottom:0;
	    right:@sidebarWidth + 5px;
		}

		aside{
	    top:@toolbarHeight;
	    bottom:@footerHeight;
	    right:0;
	    width:@sidebarWidth;
			
			& > section.wrapper{
		    margin-top:@slideSeparator;
		    margin-bottom:@slideSeparator;

				&[aria-selected]{
			    border-top-right-radius:@slideSeparator;
			    border-bottom-right-radius:@slideSeparator;
			    border-top-left-radius:0;
			    border-bottom-left-radius:0;
			    margin-right:15px;

			    &:before{
			    	top:-@slideSeparator;
			    }
			    &:after{
			    	bottom:-@slideSeparator;
			    }

			    section{
				    &:before{
				    	top:-@slideSeparator;
				    	border-bottom-left-radius:@slideSeparator;
				    }
				    &:after{
				    	bottom:-@slideSeparator;
				    	border-top-left-radius:@slideSeparator;
				    }
			    }
				}

			}
		}
	}
}


/******************************** Vertical only *******************************/
@media (orientation: portrait) {
	body section#body[data-view="edit"]{

		article{
	    bottom:0;
	    right:0;
		}

		aside{
			display:none;
		}

	}
}