/******************************** Common Style ********************************/
body section#body[data-view="edit"]{
	// Styling of the header elements
	header#appHeader{
		& > * {
			position:absolute;
		}

		h1{
			left:10px;
			right:@buttonHeight;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button {
			right:0;
			border-left:solid 1px @orangeDark;
		}
	}


	// Styling of the footer elements.
	footer#appFooter{
		& > * {
			position:absolute;
		}
	}

	// Styling of the content
	.wrapper{
		position:fixed;
		top:@toolbarHeight;
		bottom:@toolbarHeight;
		left:0;
		right:0;
		overflow:hidden;
	}
}