.footer(@_){
	article{
		position: fixed;
		bottom: @footerHeight + 1px;
	}

	footer{
		position:fixed;
		bottom:0;
		height:@footerHeight;
		width:100%;

		background-color: @grayDarker;
  	    .box-shadow(0 0 1px @grayDarker);
	}
}


.footer(phone){
}


.footer(desktop){
}