.footerBackground{
	background-color: @grayDarker;
	.box-shadow(0 0 1px @grayDarker);
}


article{
	margin-bottom:@footerHeight;
}

footer#appFooter{
	z-index:10;

	position:fixed;
	bottom:0;
	height:@footerHeight;
	width:100%;

	padding:0;

	.footerBackground();
}